<%- include('./partials/__navbar.ejs') %>

<main>
    <section class="container grid-12columns">
        <!--A la izquierda se muestra el listado de ordenes y a la derecha el formulario para crear una nueva orden-->
        <h1 class="grid__title">ORDER SUMARY</h1>

        <div class="table-container">
            <table class="orders">
                <thead>
                    <tr>
                        <td>ORDER ID</td>
                        <td>CLIENT NAME</td>
                        <td>CLIENT ADDRESS</td>
                        <td>CLIENT PHONE</td>
                        <td>PIZZA TYPE</td>
                        <td>CLIENT COMMENTS</td>
                    </tr>
                </thead>
                <tbody>
                    <!--Si se le pasan datos se encarga de ponerlos en diferentes filas-->
                    <% if(data) { %>
                        <% for(var i=0; i < data.length; i++) { %>
                            <tr>
                                <td><%= data[i].id %></td>
                                <td><%= data[i].customer_name %></td>
                                <td><%= data[i].customer_address %></td>
                                <td><%= data[i].customer_phone %></td>
                                <td><%= data[i].product %></td>
                                <td><%= data[i].customer_comments %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="form-container">
            <div class="form__card">
                <form action="">
                    <div class="form__group">
                        <label for="fullname">Fullname</label>
                        <input type="text" name="fullname" id="" placeholder="Kaidan Stevens" />
                    </div>

                    <div class="form__group">
                        <label for="address">Address</label>
                        <input type="text" name="address" id="" placeholder="Cll 1C #420-980 Arizona" />
                    </div>
                    <div class="form__group">
                        <label for="phone">Phone number</label>
                        <input type="number" name="phone" id="" placeholder="3224728523" />
                    </div>
                    <div class="form__group">
                        <label for="pizza">Select your pizza: </label>
                        <select name="pizza" id="">
                            <option value="Classic pizza" selected>Classic Pizza</option>
                            <option value="Extra Cheese pizza">Extra Cheese Pizza</option>
                            <option value="Vegetarian pizza">Vegetarian Pizza</option>
                            <option value="Hawaiian pizza">Hawaiian Pizza</option>
                            <option value="Bacon pizza">Bacon Pizza</option>
                        </select>
                    </div>
                    <div class="form__group">
                        <label for="comments">Extra comments: </label>
                        <textarea name="comments" id="comments" wrap="soft" placeholder="E.g: Extra sauce"></textarea>
                    </div>

                    <button type="submit" class="btn btn--primary">Add order</button>
                </form>
            </div>
        </div>
    </section>
</main>

<%- include('./partials/__footer.ejs') %>
